.message {
    margin-top: 20px;
    /*background-color: red;*/
}

.imageAndText {
    display: flex;
    align-items: center;
    /*background-color: red;*/
    gap: 20px;
}

.imageAndText img {
    /*background-color: red;*/
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    /*background-color: red;*/
    position: relative;
    background: #F5F7FB;
    padding: 10px 10px;
    border-radius: 12px;
    max-width: 527px;
    box-shadow: 0 1px 2px 0 #1D21261A,
    0 5px 20px 0 #1D21261A;
}

.text:after {
    /*background-color: red;*/
    content: "";
    position: absolute;
    bottom: 0;
    left: -85px;
    border-left: 60px solid transparent;
    border-right: 35px solid #F5F7FB;
    border-top: 20px solid transparent;
}

.name {
    /*background-color: red;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.messageText {
    /*background-color: red;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.time {
    /*background-color: red;*/
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 10px;
    padding-left: 10px;
}