.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    padding: 90px;
}

.image {
    width: 451px;
    height: auto;
}

.textContainer {
    width: 510px;

}

.code {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.info {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
}