.radio {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.radio::before {
    border-color: #007bff; /* цвет границы при выборе */
    background-color: white;

}


.radio:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.label {
    display: flex;
    gap: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;

}
