.item {
    border-bottom: 1px solid #E5E5E5;

}

.item:last-of-type {
    border: none;
}

.users {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    padding: 30px 0;
    max-width: 606px;
}

.thead {
    background-color: #E5E5E5;
    font-weight: 600;
}

.nameCol {
    padding: 10px 17px;
}

.ageCol {

}