.spanBlock {
    display: inline-flex;
    gap: 20px;
    margin: 25px 0;
}

.span {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0080FF;

}

.input {
    max-width: 276px;
    height: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 25px 0;
    padding-left: 24px;
}

.pen {
    width: 24px;
    height: 24px;
}