.App {
    --header_height: 60px;
    /*background-color: red;*/
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 35px;

}

.hw {
    /*background-color: red;*/
    padding: 0 70px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    /*margin-top: 130px;*/
    /*padding-bottom: 10px;*/
    font-size: 22px;
    font-weight: 600;
    padding: 130px 70px 10px 70px;
    border-bottom: 1px solid #D9D9D9;
    /*background-color: red;*/
}