.App {
    --header_height: 60px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 35px;

}

.hw {
    padding: 0 70px;
    margin-top: 50px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 130px 70px 10px 70px;
    border-bottom: 1px solid #D9D9D9;
}