.select {
    /*background-color: red;*/
    width: 165px;
    height: 24px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 50px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    appearance: none;
    background-image: url("./chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 0 center;
}

.select:focus {

}

.option:hover {

}
