.burgerMenuIcon {
    /*background-color: red;*/
    width: 24px;
    height: 24px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header h1 {
    /*background-color: red;*/
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
}