.button {
    width: 132px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
}

.disabled {
    /*background-color: #004D99;*/
    background-color: #004D99;
    opacity: 0.5;
}

.secondary {
    background-color: #FFFFFF;
    color: #0066CC;
    border: 1px solid #0066CC;
    width: 176px;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
    color:  #002E5C;

}
