.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 25px;
}

.wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.number {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    width: 20px;
}
